
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot'); /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-favorfill:before { content: "\e61f"; }
.icon-favor:before { content: "\e620"; }
.icon-locationfill:before { content: "\e621"; }
.icon-likefill:before { content: "\e62e"; }
.icon-like:before { content: "\e62f"; }
.icon-myfill:before { content: "\e622"; }
.icon-my:before { content: "\e623"; }
.icon-squarecheckfill:before { content: "\e624"; }
.icon-square:before { content: "\e625"; }
.icon-squarecheck:before { content: "\e626"; }
.icon-roundaddfill:before { content: "\e627"; }
.icon-roundadd:before { content: "\e628"; }
.icon-rechargefill:before { content: "\e629"; }
.icon-recharge:before { content: "\e62a"; }
.icon-home:before { content: "\e63b"; }
.icon-lightfill:before { content: "\e62b"; }
.icon-countdownfill:before { content: "\e606"; }
.icon-countdown:before { content: "\e608"; }
.icon-focus:before { content: "\e630"; }
.icon-hongbao:before { content: "\e637"; }
.icon-food:before { content: "\e63a"; }
.icon-peoplefill:before { content: "\e62c"; }
.icon-people:before { content: "\e62d"; }
.icon-attentionfill:before { content: "\e631"; }
.icon-attention:before { content: "\e632"; }
.icon-location:before { content: "\e633"; }
.icon-mail:before { content: "\e63c"; }
.icon-time:before { content: "\e638"; }
.icon-user:before { content: "\e639"; }
.icon-tubiao111:before { content: "\e604"; }
.icon-tubiao212:before { content: "\e605"; }
.icon-angledown:before { content: "\e600"; }
.icon-angleleft:before { content: "\e601"; }
.icon-angleright:before { content: "\e602"; }
.icon-angleup:before { content: "\e603"; }
.icon-heartbeat:before { content: "\e607"; }
.icon-mobile:before { content: "\e609"; }
.icon-money:before { content: "\e60a"; }
.icon-phone:before { content: "\e60b"; }
.icon-paperplane:before { content: "\e60c"; }
.icon-quoteleft:before { content: "\e60d"; }
.icon-quoteright:before { content: "\e60e"; }
.icon-iconfontsaoyisao:before { content: "\e60f"; }
.icon-iconfontfanhui:before { content: "\e610"; }
.icon-iconfonticon5:before { content: "\e61e"; }
.icon-iconfontadd:before { content: "\e611"; }
.icon-iconfontcheck:before { content: "\e612"; }
.icon-iconfontclose:before { content: "\e613"; }
.icon-iconfontdizhi:before { content: "\e614"; }
.icon-iconfontduihuan:before { content: "\e615"; }
.icon-iconfonterweima:before { content: "\e616"; }
.icon-iconfontevaluate:before { content: "\e617"; }
.icon-iconfontpinglun:before { content: "\e618"; }
.icon-iconfontradiobox:before { content: "\e619"; }
.icon-iconfontradioboxfill:before { content: "\e61a"; }
.icon-iconfontredpacket:before { content: "\e61b"; }
.icon-iconfonttoggleoff:before { content: "\e61c"; }
.icon-iconfonttoggleon:before { content: "\e61d"; }
.icon-10013:before { content: "\e634"; }
.icon-10014:before { content: "\e635"; }
.icon-bell:before { content: "\e636"; }
