#crni-tt {
    font-size:20px;
}
#topblock .bblne {
    font-size:14px;
}
.xc04 {
    padding-top:5px;
    font-size:12px;
}
#footerblock {
    height:auto;
    background-position:center bottom;
    padding-bottom:30px;
    background-color:#FFF;
}
.gallsitm .nmtt {
    font-size:14px;
}
.sid-ul-lst li a {
    font-size:14px;
}
#footerblock .wp {
    padding-top:196px;
}
.data-ul li {
    font-size:14px;
}
